
## configuration for testing
# Just execute the same targets on test data


IMPRESSO_REBUILT_DATA_DIR ?= test/rebuilt-data
IMPRESSO_LANGIDENT_DATA_DIR ?= test/langident
BUILD_DIR ?= testbuild.d

test-s3: Makefile
	mkdir -p testbuild.d/ && \
    python3 lib/spacy_linguistic_preprocessing.py \
     s3://22-rebuilt-final/actionfem/actionfem-1928.jsonl.bz2 \
          --lid s3://42-processed-data-final/langident/v1.4.4/actionfem/actionfem-1928.jsonl.bz2 \
          -o testbuild.d/actionfem-1928.jsonl.bz2 \
          --validate

